[Unit]
Description=Simple service with API written in Go
After=network.target

[Service]
Type=GoServerWithTests
ExecStart=/home/{{ ansible_user }}/GoServerWithTests
PIDFile=/var/run/GoServerWithTests

[Install]
WantedBy=default.target
